<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Find My Pg</title>
  </head>
  <body>
    <form method="post">
      <input type="email" name="email" id="email" placeholder="email" />
      <br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <br />
      <button>login now</button>
    </form>
    <p>
      dont have an account
      <a href="/auth/register">register</a>
    </p>
  </body>
</html>
